.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner {
    width: 100%;
    max-width: 720px;
    background: #f3d6d7;
}
.main-page {
    padding: 80px 0;
    background: #b9dce3;
    text-align: center;

    &-invite {
        &-weddingDay {
            font-size: 32px;
            padding-bottom: 10px;
        }
        &-text {
            font-size: 20px;
        }
        
    }
    &-divider {
        width: 80%;
        height:1px;
        background: rgb(176, 16, 42);
        margin: 0 auto;
        margin-top: 30px;
    }
    &-names {
        padding: 30px 0 0 0;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &-information {
        padding: 30px 0;
        font-size: 18px;
        &-date {
            margin-bottom: 20px;
            &-item {
                line-height: 1.5;
            }
        }
    }
}
.text-page {
    padding: 150px 16px;
    text-align: center;
    background: beige;
    word-break: keep-all;
    line-height: 1.5;
    font-size: 14px;
}
.parents-page {
    display: flex;
    padding: 30px 16px;
    &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        &-side {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 15px;
        }
        &-names {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-name {
                font-size: 13px;
                line-height: 1.4;
            }
        }
    }
}
.photo-page {
    padding: 30px 16px;
    background: skyblue;
    &-grid {
        display: grid;
        gap: 10px 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &-img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
}
.location-page {
    line-height: 1.25;
    padding: 30px 16px;
    background: rgb(220, 217, 217);
    &-main {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 15px;
        &-bold {
            font-weight: bold;
            font-size: 18px;
        }
    }
    &-way {
        word-break: keep-all;
        font-size: 14px;
        &-type {
            margin-bottom: 10px;
            &-title {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 3px;
            }
            &-box {
                &-number {
                    display: flex;
                    align-items: flex-start;
                    &-type {
                        width:120px;
                        white-space: nowrap;
                    }
                    &-bus {

                    }
                }
            }
        }
        
    }
    
}
.map-page {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    width: 100%;
    padding: 30px 0;
    img{width: 100%;}
}


