.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'NanumSquare', sans-serif;
}
.inner {
    width: 100%;
    max-width: 720px;
}
.main-page {
    padding: 80px 0;
    background: rgb(223,204,223,0.5);
    text-align: center;
    color: rgb(109, 67, 129);;

    &-invite {
        letter-spacing: +1.5px;
        &-weddingDay {
            font-size: 32px;
            padding-bottom: 10px;
            font-weight: bold;
        }
        &-text {
            font-size: 16px;
        }
        
    }
    &-divider {
        width: 80%;
        height:1px;
        background: #a9a8a3;
        margin: 0 auto;
        margin-top: 50px;
        opacity:0.7;
    }
    &-names {
        padding: 50px 0 0 0;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &-information {
        padding: 30px 0;
        font-size: 18px;
        font-weight: bold;
        color: #565656;
        &-date {
            margin-bottom: 20px;
            &-item {
                line-height: 1.5;
            }
        }
    }
    &-flower {
        margin-top:30px;
        width: 150px;
        width: 100%;
        display:flex;
        justify-content: center;
        img {width: 140px;object-fit:contain}
    }
}
.text-page {
    padding: 150px 16px;
    text-align: center;
    background: #fff;
    word-break: keep-all;
    line-height: 1.5;
    font-size: 14px;
    color: #828385;
}
.parents-page {
    display: flex;
    align-items: center;
    padding: 30px 16px;
    background: rgb(223,204,223,0.5);
    color: rgba(185,123,188);
    &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        &-side {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 15px;
        }
        &-names {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-name {
                font-size: 16px;
                line-height: 1.4;
            }
        }
        &-divider {
            width: 1px;
            height: 60px;
            background: #a9a8a3;
        }
    }
}
.photo-page {
    padding: 10px;
    background: #fff;
    &-grid {
        display: grid;
        gap: 8px 8px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &-img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
}
.location-page {
    line-height: 1.25;
    padding: 30px 16px;
    background: rgb(223,204,223,0.5);
    &-divider {
        width: 100%;
        height: 1px;
        background: #373737;
        margin-bottom: 25px;
        opacity: 0.3;
    }
    &-main {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 15px;
        color: #373737;
        &-bold {
            font-weight: bold;
            font-size: 18px;
        }
    }
    &-way {
        word-break: keep-all;
        font-size: 18px;
        margin-bottom: 25px;
        &-type {
            margin-bottom: 10px;
            &-flex {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
            &-title {
                font-weight: bold;
                margin-bottom: 3px;
                color:#373737;
            }
            &-box {
                &-number {
                    display: flex;
                    align-items: flex-start;
                    gap: 10px;
                    &-type {
                        width:100px;
                        white-space: nowrap;
                        flex-shrink: 0;
                    }
                    &-bus {

                    }
                }
            }
        }
        
    }
    
}
.map-page {
    width: 100%;
    padding: 0;
    img{width: 100%;}
}
.account-page {
    background: rgb(223,204,223,0.5);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(185, 123, 188);
    &-title {
        font-size: 18px;
        margin-bottom: 30px;
        font-weight: bold;
    }

    &-box {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        width: 100%;
        &-one {
            font-size: 18px;
            text-align: center;
            line-height: 40px;
            background: #c8c6c4;
            width: 50%;
            color: #565656;
            font-weight: bold;
        }
    }
}
.footer {
    text-align: center;
    font-size: 16px;
    color: grey;
    line-height: 1.6;
    background: #fff;
    padding: 30px 20px;
}


